# 3 - Pandas


<br>
<br>


<img src="https://raw.githubusercontent.com/Hack-io-AI/ai_images/main/pandas.jpg" style="width:400px;"/>

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1---¿Qué-es-pandas?" data-toc-modified-id="1---¿Qué-es-pandas?-1">1 - ¿Qué es pandas?</a></span></li><li><span><a href="#2---Estructuras-de-datos" data-toc-modified-id="2---Estructuras-de-datos-2">2 - Estructuras de datos</a></span><ul class="toc-item"><li><span><a href="#2.1---Series" data-toc-modified-id="2.1---Series-2.1">2.1 - Series</a></span></li><li><span><a href="#2.2---DataFrame" data-toc-modified-id="2.2---DataFrame-2.2">2.2 - DataFrame</a></span></li></ul></li><li><span><a href="#3---Descripción-del-dataframe" data-toc-modified-id="3---Descripción-del-dataframe-3">3 - Descripción del dataframe</a></span></li><li><span><a href="#4---Selección-dentro-de-un-DataFrame" data-toc-modified-id="4---Selección-dentro-de-un-DataFrame-4">4 - Selección dentro de un DataFrame</a></span></li><li><span><a href="#5---Filtrado" data-toc-modified-id="5---Filtrado-5">5 - Filtrado</a></span></li><li><span><a href="#6---Agrupación" data-toc-modified-id="6---Agrupación-6">6 - Agrupación</a></span></li><li><span><a href="#7---Valores-nulos" data-toc-modified-id="7---Valores-nulos-7">7 - Valores nulos</a></span></li><li><span><a href="#8---Operaciones" data-toc-modified-id="8---Operaciones-8">8 - Operaciones</a></span></li><li><span><a href="#9---Aplicación-de-funciones" data-toc-modified-id="9---Aplicación-de-funciones-9">9 - Aplicación de funciones</a></span></li><li><span><a href="#10---Métodos-útiles-en-pandas" data-toc-modified-id="10---Métodos-útiles-en-pandas-10">10 - Métodos útiles en pandas</a></span></li></ul></div>

## 1 - ¿Qué es pandas?

Pandas es una biblioteca de software de código abierto escrita para el lenguaje de programación Python, que proporciona herramientas y estructuras de datos de alto rendimiento y fáciles de usar para el análisis y la manipulación de datos. Es especialmente popular en la comunidad de ciencia de datos y se utiliza ampliamente para la limpieza, transformación y análisis de datos. Básicamente, es el Excel de Python.


**Características Principales de Pandas**


1. **Estructuras de datos principales**:

    + Series: Una estructura unidimensional similar a una columna en una tabla. Puede contener datos de cualquier tipo.
    + DataFrame: Una estructura bidimensional similar a una tabla en una base de datos o una hoja de cálculo de Excel. Está compuesto por una colección de Series.


2. **Manipulación de datos**:

    + Selección y filtrado de datos.
    + Manipulación y limpieza de datos.
    + Agregación y transformación de datos.
    + Combinar y fusionar conjuntos de datos.


3. **Manejo de datos nulos**:

    + Identificación y manejo de datos nulos.
    + Interpolación y llenado de datos nulos.


4. **Operaciones en datos temporales**:

    + Manipulación de series temporales y fechas.
    + Re-muestreo y agrupación de datos temporales.

Para instalas esta librería tenemos que ejecutar el siguiente comando:

```bash
pip install pandas
```

In [52]:
import pandas as pd

## 2 - Estructuras de datos

### 2.1 - Series

Una Serie de pandas es una estructura de datos unidimensional que puede contener datos de cualquier tipo, enteros, flotantes o cadenas. Hay que distinguir entre el tipo de dato de los elementos y el tipo de dato de la propia serie, ésta tendrá el tipo de dato más general. Una serie es similar a una columna en una tabla o una matriz unidimensional en otros lenguajes de programación. Cada elemento en una Serie tiene una etiqueta, conocida como índice, que puede ser utilizado para acceder a los datos de la Serie.

In [3]:
lista = [(3.4 + i)**2 for i in range(10)]


serie = pd.Series(lista)

serie

0     11.56
1     19.36
2     29.16
3     40.96
4     54.76
5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: float64

Vemos que todos los elementos de la serie, además de estar indexados, son números reales, float, y el tipo de dato de la propia serie, el dtype, también es float. ¿Qué ocurriría si introducimos una string en la serie?. Veamos que ocurre con el tipo de dato.

In [5]:
serie[2] = 'hola'

serie

0     11.56
1     19.36
2      hola
3     40.96
4     54.76
5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: object

In [7]:
type(serie[0])

float

El tipo de dato de la serie ha cambiado a `object`, básicamente string, pero sigue conteniendo números reales en su interior. Veamos algunos métodos y atributos de las series.

In [8]:
serie.head()

0    11.56
1    19.36
2     hola
3    40.96
4    54.76
dtype: object

In [9]:
serie.head(7)

0    11.56
1    19.36
2     hola
3    40.96
4    54.76
5    70.56
6    88.36
dtype: object

In [10]:
serie.tail()

5     70.56
6     88.36
7    108.16
8    129.96
9    153.76
dtype: object

In [11]:
serie.tail(3)

7    108.16
8    129.96
9    153.76
dtype: object

In [12]:
serie.index

RangeIndex(start=0, stop=10, step=1)

In [13]:
serie.index = ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']

serie

q     11.56
w     19.36
e      hola
r     40.96
t     54.76
y     70.56
u     88.36
i    108.16
o    129.96
p    153.76
dtype: object

In [15]:
serie['q']

11.559999999999999

In [16]:
serie.shape

(10,)

In [17]:
serie.to_dict()

{'q': 11.559999999999999,
 'w': 19.360000000000003,
 'e': 'hola',
 'r': 40.96000000000001,
 't': 54.760000000000005,
 'y': 70.56,
 'u': 88.36000000000001,
 'i': 108.16000000000001,
 'o': 129.96,
 'p': 153.76000000000002}

In [18]:
serie.to_frame()

        0
q   11.56
w   19.36
e    hola
r   40.96
t   54.76
y   70.56
u   88.36
i  108.16
o  129.96
p  153.76

### 2.2 - DataFrame

Un objeto del tipo DataFrame define un conjunto de datos estructurado en forma de tabla donde cada columna es un objeto de tipo Series, es decir, todos los datos de una misma columna son del mismo tipo, y las filas son registros que pueden contender datos de distintos tipos.

Un DataFrame contiene dos índices, uno para las filas y otro para las columnas, y se puede acceder a sus elementos mediante los nombres de las filas y las columnas. Podemos crear un dataframe de varias formas, desde una lista, un diccionario, un array de NumPy o importando archivos. Para importar archivos de Excel es necesario instalar los siguientes paquetes:

```bash
pip install openpyxl
pip install xlrd
```

In [19]:
# creacion desde listas

columnas = ['col1', 'col2', 'col3', 'col4']

lista = [[1,2,3,4],
         [5,6,7,8]]


df = pd.DataFrame(data=lista, columns=columnas)

df

   col1  col2  col3  col4
0     1     2     3     4
1     5     6     7     8

In [20]:
# desde numpy

import numpy as np

array = np.random.random((10, 4))

df = pd.DataFrame(data=array, columns=columnas)

df

       col1      col2      col3      col4
0  0.265625  0.917002  0.962776  0.840290
1  0.075846  0.586320  0.654537  0.407170
2  0.153254  0.767679  0.802234  0.153892
3  0.888650  0.291265  0.031915  0.301680
4  0.934319  0.068280  0.608650  0.929650
5  0.348947  0.044905  0.070565  0.435927
6  0.994415  0.086484  0.783785  0.654843
7  0.882954  0.580766  0.240182  0.662441
8  0.466209  0.476389  0.662076  0.988447
9  0.060488  0.681022  0.112169  0.637099

In [21]:
# desde dictio

dictio = {'a': [1,2,3,4,5],
          'b': [5,6,7,8,9]}


df = pd.DataFrame(data=dictio)

df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
4  5  9

In [25]:
# json


df = pd.read_json(path_or_buf='../../../files/retail.json')

df.head()

,invoiceno,invoicedate,stockcode,description,quantity,unitprice,revenue,customerid,country,null,nueva
0,536365,1291191960000,85123A,CREAM HANGING HEART T-LIGHT HOLDER,10,2.55,15.3,17850,United Kingdom,NaN,11.764706
1,536373,1291194120000,85123A,CREAM HANGING HEART T-LIGHT HOLDER,10,2.55,15.3,17850,United Kingdom,1.0,11.764706
2,536375,1291195920000,85123A,CREAM HANGING HEART T-LIGHT HOLDER,10,2.55,15.3,17850,United Kingdom,NaN,11.764706
3,536390,1291198740000,85123A,CREAM HANGING HEART T-LIGHT HOLDER,68,2.55,163.2,17511,United Kingdom,3.0,34.509804
4,536394,1291199940000,85123A,CREAM HANGING HEART T-LIGHT HOLDER,36,2.55,81.6,13408,United Kingdom,NaN,21.960784

In [26]:
# excel

df = pd.read_excel(io='../../../files/sensor.xls')

df.head()

,Input 1,Input 2,Input 3,Input 4,Input 5,Input 6,Input 7,Input 8,Input 9,Input 10,Input 11,Input 12,output1,output2,class
0,1.473,2.311,3.179,2.666,0.2795,0.2771,0.22340,0.1855,0.2539,1.138,1.111,4.712,1,1,one
1,1.460,2.377,3.214,2.920,0.2527,0.3064,0.02563,0.1965,0.3027,1.213,1.027,5.463,1,1,one
2,1.552,2.164,3.064,2.745,0.2820,0.2100,0.17210,0.1929,0.2100,1.221,1.058,5.332,1,1,one
3,1.605,2.228,3.149,2.834,0.2917,0.3613,0.20870,0.1294,0.2734,1.144,1.062,4.829,1,1,one
4,1.534,2.114,3.309,2.976,0.2100,0.2502,0.22580,0.1770,0.2039,1.254,1.112,5.734,1,1,one

In [31]:
# csv

df = pd.read_csv(filepath_or_buffer='../../../files/airbnb.csv')

df.head()

,id,host_id,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,6369,13660,1,Hispanoamérica,Chamartín,40.45628,-3.67763,Apartment,Private room,2,1,1,0,Real Bed,"{Wifi,""Air conditioning"",Kitchen,Elevator,Heat...",70,0,5,2,15,1,365,22,52,82,82,73,14,1,0,1,0
1,21853,83531,0,Cármenes,Latina,40.40341,-3.74084,Apartment,Private room,1,1,1,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",17,0,0,1,8,4,40,0,0,0,162,33,0,2,0,2,0
2,23001,82175,0,Legazpi,Arganzuela,40.38695,-3.69304,Apartment,Entire home/apt,6,2,3,5,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",""Wheelcha...",50,300,30,1,10,15,730,2,2,2,213,0,0,6,6,0,0
3,24805,101471,0,Universidad,Centro,40.42202,-3.70395,Apartment,Entire home/apt,3,1,0,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,E...",80,200,30,2,0,5,730,27,57,87,362,9,7,1,1,0,0
4,24836,101653,1,Justicia,Centro,40.41995,-3.69764,Apartment,Entire home/apt,4,1,2,3,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",115,200,0,4,0,3,10,24,54,77,342,67,15,1,1,0,0

En este último dataframe, hay columnas que no podemos ver, solo nos muestra las 10 primeras y las 10 últimas. Si intentamos imprimir todas las filas ocurriría lo mismo. Para poder ver todas las filas y todas las columnas se usa el siguinte código:

In [30]:
pd.set_option('display.max_columns', None)

In [ ]:
pd.set_option('display.max_rows', None)

## 3 - Descripción del dataframe

Tenemos un par de métodos que nos ofrecen información interna del dataframe. El método `info` nos da información del propio dataframe, como número de filas, número de columnas o tipo de dato de cada columna. El método `describe` nos da información estadística de los datos por columna, como el mínimo, el máximo, la mediana o la media.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21312 entries, 0 to 21311
Data columns (total 32 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            21312 non-null  int64
 1   host_id                                       21312 non-null  int64
 2   host_is_superhost                             21312 non-null  int64
 3   neighbourhood_cleansed                        21312 non-null  object
 4   neighbourhood_group_cleansed                  21312 non-null  object
 5   latitude                                      21312 non-null  float64
 6   longitude                                     21312 non-null  float64
 7   property_type                                 21312 non-null  object
 8   room_type                                     21312 non-null  object
 9   accommodates                                  21312 non-null  int64
 10  bathrooms                                     21312 non-null  int64
 11  bedrooms                                      21312 non-null  int64
 12  beds                                          21312 non-null  int64
 13  bed_type                                      21312 non-null  object
 14  amenities                                     21312 non-null  object
 15  price                                         21312 non-null  int64
 16  security_deposit                              21312 non-null  int64
 17  cleaning_fee                                  21312 non-null  int64
 18  guests_included                               21312 non-null  int64
 19  extra_people                                  21312 non-null  int64
 20  minimum_nights                                21312 non-null  int64
 21  maximum_nights                                21312 non-null  int64
 22  availability_30                               21312 non-null  int64
 23  availability_60                               21312 non-null  int64
 24  availability_90                               21312 non-null  int64
 25  availability_365                              21312 non-null  int64
 26  number_of_reviews                             21312 non-null  int64
 27  number_of_reviews_ltm                         21312 non-null  int64
 28  calculated_host_listings_count                21312 non-null  int64
 29  calculated_host_listings_count_entire_homes   21312 non-null  int64
 30  calculated_host_listings_count_private_rooms  21312 non-null  int64
 31  calculated_host_listings_count_shared_rooms   21312 non-null  int64
dtypes: float64(2), int64(24), object(6)
memory usage: 5.2+ MB

In [39]:
df.describe()

,id,host_id,host_is_superhost,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,2.131200e+04,2.131200e+04,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,2.131200e+04,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000,21312.000000
mean,2.510765e+07,1.090149e+08,0.202609,40.420524,-3.694359,3.305649,1.248217,1.354167,1.986580,130.793027,104.358953,23.982967,1.770505,8.519895,4.397241,6.483297e+03,12.597691,28.235877,45.179054,162.965606,38.083990,14.908080,11.558652,9.585867,1.580940,0.155687
std,1.156530e+07,9.635223e+07,0.401953,0.021991,0.027952,2.023198,0.714285,0.859813,1.536812,362.113155,227.141775,34.100814,1.404534,16.306070,21.601207,7.648947e+05,11.289649,22.936557,34.659502,136.503662,65.746333,21.970261,32.298118,31.758371,4.420065,1.506830
min,6.369000e+03,5.154000e+03,0.000000,40.332470,-3.863910,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,1.716739e+07,2.384798e+07,0.000000,40.409520,-3.707460,2.000000,1.000000,1.000000,1.000000,40.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000e+01,0.000000,0.000000,1.000000,23.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,2.655723e+07,8.307210e+07,0.000000,40.418770,-3.701230,3.000000,1.000000,1.000000,2.000000,65.000000,0.000000,19.000000,1.000000,0.000000,2.000000,1.125000e+03,11.000000,30.000000,51.000000,142.500000,9.000000,4.000000,2.000000,1.000000,0.000000,0.000000
75%,3.502356e+07,1.864666e+08,0.000000,40.428870,-3.689138,4.000000,1.000000,2.000000,2.000000,102.250000,150.000000,35.000000,2.000000,15.000000,3.000000,1.125000e+03,23.000000,50.000000,78.000000,312.000000,45.000000,22.000000,7.000000,4.000000,1.000000,0.000000
max,4.145256e+07,3.261182e+08,1.000000,40.562740,-3.527660,27.000000,12.000000,11.000000,50.000000,9999.000000,4460.000000,550.000000,16.000000,271.000000,1125.000000,1.111111e+08,30.000000,60.000000,90.000000,365.000000,634.000000,274.000000,252.000000,252.000000,42.000000,28.000000

## 4 - Selección dentro de un DataFrame

Para seleccionar una columna de un dataframe usamos la misma sintaxis que usaríamos con un diccionario, la key es el nombre de columna y el valor la propia columnas. Una vez seleccionada la columna podemos hacer slicing igual que haríamos en un array. También podemos seleccionar varias columnas pasando un lista con los nombres de las mismas.

In [41]:
df['room_type'].head()

0       Private room
1       Private room
2    Entire home/apt
3    Entire home/apt
4    Entire home/apt
Name: room_type, dtype: object

In [42]:
df['room_type'][2:47:3]

2     Entire home/apt
5        Private room
8     Entire home/apt
11       Private room
14    Entire home/apt
17    Entire home/apt
20    Entire home/apt
23    Entire home/apt
26       Private room
29    Entire home/apt
32    Entire home/apt
35    Entire home/apt
38    Entire home/apt
41    Entire home/apt
44       Private room
Name: room_type, dtype: object

In [43]:
lista_cols = ['latitude', 'longitude', 'room_type']

df[lista_cols].head()

   latitude  longitude        room_type
0  40.45628   -3.67763     Private room
1  40.40341   -3.74084     Private room
2  40.38695   -3.69304  Entire home/apt
3  40.42202   -3.70395  Entire home/apt
4  40.41995   -3.69764  Entire home/apt

También existen métodos de selección del dataframe. Son los métodos `loc` y `iloc`. Con `loc` podemos seleccionar por nombre de filas y columnas, mientras que con `iloc` podemos seleccionar por posiciones de filas y columnas. Veamos un ejemplo:

In [44]:
df.iloc[0]

id                                                                                           6369
host_id                                                                                     13660
host_is_superhost                                                                               1
neighbourhood_cleansed                                                             Hispanoamérica
neighbourhood_group_cleansed                                                            Chamartín
latitude                                                                                 40.45628
longitude                                                                                -3.67763
property_type                                                                           Apartment
room_type                                                                            Private room
accommodates                                                                                    2
bathrooms                                                                                       1
bedrooms                                                                                        1
beds                                                                                            0
bed_type                                                                                 Real Bed
amenities                                       {Wifi,"Air conditioning",Kitchen,Elevator,Heat...
price                                                                                          70
security_deposit                                                                                0
cleaning_fee                                                                                    5
guests_included                                                                                 2
extra_people                                                                                   15
minimum_nights                                                                                  1
maximum_nights                                                                                365
availability_30                                                                                22
availability_60                                                                                52
availability_90                                                                                82
availability_365                                                                               82
number_of_reviews                                                                              73
number_of_reviews_ltm                                                                          14
calculated_host_listings_count                                                                  1
calculated_host_listings_count_entire_homes                                                     0
calculated_host_listings_count_private_rooms                                                    1
calculated_host_listings_count_shared_rooms                                                     0
Name: 0, dtype: object

In [46]:
df.iloc[0:10:2, 0:5:3]

      id neighbourhood_cleansed
0   6369         Hispanoamérica
2  23001                Legazpi
4  24836               Justicia
6  30320                    Sol
8  40718               Justicia

In [47]:
df.loc[0]

id                                                                                           6369
host_id                                                                                     13660
host_is_superhost                                                                               1
neighbourhood_cleansed                                                             Hispanoamérica
neighbourhood_group_cleansed                                                            Chamartín
latitude                                                                                 40.45628
longitude                                                                                -3.67763
property_type                                                                           Apartment
room_type                                                                            Private room
accommodates                                                                                    2
bathrooms                                                                                       1
bedrooms                                                                                        1
beds                                                                                            0
bed_type                                                                                 Real Bed
amenities                                       {Wifi,"Air conditioning",Kitchen,Elevator,Heat...
price                                                                                          70
security_deposit                                                                                0
cleaning_fee                                                                                    5
guests_included                                                                                 2
extra_people                                                                                   15
minimum_nights                                                                                  1
maximum_nights                                                                                365
availability_30                                                                                22
availability_60                                                                                52
availability_90                                                                                82
availability_365                                                                               82
number_of_reviews                                                                              73
number_of_reviews_ltm                                                                          14
calculated_host_listings_count                                                                  1
calculated_host_listings_count_entire_homes                                                     0
calculated_host_listings_count_private_rooms                                                    1
calculated_host_listings_count_shared_rooms                                                     0
Name: 0, dtype: object

In [49]:
df.loc[0:10:2, 'room_type']

0        Private room
2     Entire home/apt
4     Entire home/apt
6     Entire home/apt
8     Entire home/apt
10       Private room
Name: room_type, dtype: object

In [50]:
df.loc[0:10:2, lista_cols]

    latitude  longitude        room_type
0   40.45628   -3.67763     Private room
2   40.38695   -3.69304  Entire home/apt
4   40.41995   -3.69764  Entire home/apt
6   40.41552   -3.70346  Entire home/apt
8   40.41978   -3.69730  Entire home/apt
10  40.41971   -3.71256     Private room

## 5 - Filtrado

Podemos filtrar el dataframe según los datos que este tiene en su interior. Podemos filtrar por una columna o por varias columnas al mismo tiempo. En este caso, ya no se usan las palabras `and` y `or`, sino los operadores binarios `&` y `|` respectivamente.

In [57]:
df[df['neighbourhood_group_cleansed']=='Latina'].head()

,id,host_id,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
1,21853,83531,0,Cármenes,Latina,40.40341,-3.74084,Apartment,Private room,1,1,1,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",17,0,0,1,8,4,40,0,0,0,162,33,0,2,0,2,0
77,256842,1351231,0,Aluche,Latina,40.38574,-3.75062,Apartment,Entire home/apt,4,1,2,3,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,Doorman,El...",95,200,0,5,20,5,1125,19,19,19,44,49,4,1,1,0,0
91,290420,805726,0,Puerta del Angel,Latina,40.41136,-3.72456,Apartment,Private room,1,2,1,2,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",20,0,12,1,15,2,730,9,20,20,247,33,1,7,0,7,0
99,318826,1636378,1,Aluche,Latina,40.39382,-3.75871,Apartment,Entire home/apt,4,1,3,3,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,E...",100,300,50,4,0,6,1125,0,0,12,287,15,4,1,1,0,0
111,339751,1721232,0,Puerta del Angel,Latina,40.40713,-3.73971,Apartment,Private room,6,1,2,4,Real Bed,"{Wifi,Kitchen,""Free parking on premises"",""Smok...",22,0,0,2,15,2,5,11,33,57,122,126,62,1,0,1,0

In [58]:
df[df['price']<100].head()

,id,host_id,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,6369,13660,1,Hispanoamérica,Chamartín,40.45628,-3.67763,Apartment,Private room,2,1,1,0,Real Bed,"{Wifi,""Air conditioning"",Kitchen,Elevator,Heat...",70,0,5,2,15,1,365,22,52,82,82,73,14,1,0,1,0
1,21853,83531,0,Cármenes,Latina,40.40341,-3.74084,Apartment,Private room,1,1,1,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",17,0,0,1,8,4,40,0,0,0,162,33,0,2,0,2,0
2,23001,82175,0,Legazpi,Arganzuela,40.38695,-3.69304,Apartment,Entire home/apt,6,2,3,5,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",""Wheelcha...",50,300,30,1,10,15,730,2,2,2,213,0,0,6,6,0,0
3,24805,101471,0,Universidad,Centro,40.42202,-3.70395,Apartment,Entire home/apt,3,1,0,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,E...",80,200,30,2,0,5,730,27,57,87,362,9,7,1,1,0,0
5,26825,114340,0,Legazpi,Arganzuela,40.38985,-3.69011,House,Private room,1,1,1,1,Real Bed,"{Wifi,""Wheelchair accessible"",Doorman,Elevator...",25,0,15,1,0,2,365,30,60,90,365,142,21,1,0,1,0

In [60]:
df[(df['neighbourhood_group_cleansed']=='Latina') & (df['price']<100)].head()

,id,host_id,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
1,21853,83531,0,Cármenes,Latina,40.40341,-3.74084,Apartment,Private room,1,1,1,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",17,0,0,1,8,4,40,0,0,0,162,33,0,2,0,2,0
77,256842,1351231,0,Aluche,Latina,40.38574,-3.75062,Apartment,Entire home/apt,4,1,2,3,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,Doorman,El...",95,200,0,5,20,5,1125,19,19,19,44,49,4,1,1,0,0
91,290420,805726,0,Puerta del Angel,Latina,40.41136,-3.72456,Apartment,Private room,1,2,1,2,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",20,0,12,1,15,2,730,9,20,20,247,33,1,7,0,7,0
111,339751,1721232,0,Puerta del Angel,Latina,40.40713,-3.73971,Apartment,Private room,6,1,2,4,Real Bed,"{Wifi,Kitchen,""Free parking on premises"",""Smok...",22,0,0,2,15,2,5,11,33,57,122,126,62,1,0,1,0
160,437670,805726,0,Puerta del Angel,Latina,40.41155,-3.72371,Apartment,Private room,2,1,1,2,Real Bed,"{""Cable TV"",Internet,Wifi,""Air conditioning"",K...",25,0,20,1,20,6,1125,9,39,69,344,8,0,7,0,7,0

In [61]:
df[(df['neighbourhood_group_cleansed']=='Latina') | (df['price']<100)].head()

,id,host_id,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,6369,13660,1,Hispanoamérica,Chamartín,40.45628,-3.67763,Apartment,Private room,2,1,1,0,Real Bed,"{Wifi,""Air conditioning"",Kitchen,Elevator,Heat...",70,0,5,2,15,1,365,22,52,82,82,73,14,1,0,1,0
1,21853,83531,0,Cármenes,Latina,40.40341,-3.74084,Apartment,Private room,1,1,1,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",17,0,0,1,8,4,40,0,0,0,162,33,0,2,0,2,0
2,23001,82175,0,Legazpi,Arganzuela,40.38695,-3.69304,Apartment,Entire home/apt,6,2,3,5,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",""Wheelcha...",50,300,30,1,10,15,730,2,2,2,213,0,0,6,6,0,0
3,24805,101471,0,Universidad,Centro,40.42202,-3.70395,Apartment,Entire home/apt,3,1,0,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,E...",80,200,30,2,0,5,730,27,57,87,362,9,7,1,1,0,0
5,26825,114340,0,Legazpi,Arganzuela,40.38985,-3.69011,House,Private room,1,1,1,1,Real Bed,"{Wifi,""Wheelchair accessible"",Doorman,Elevator...",25,0,15,1,0,2,365,30,60,90,365,142,21,1,0,1,0

In [62]:
df[(df['neighbourhood_group_cleansed']=='Latina') | ~(df['price']<100)].head()

,id,host_id,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
1,21853,83531,0,Cármenes,Latina,40.40341,-3.74084,Apartment,Private room,1,1,1,1,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",Kitchen,""...",17,0,0,1,8,4,40,0,0,0,162,33,0,2,0,2,0
4,24836,101653,1,Justicia,Centro,40.41995,-3.69764,Apartment,Entire home/apt,4,1,2,3,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",115,200,0,4,0,3,10,24,54,77,342,67,15,1,1,0,0
17,72150,364585,0,Embajadores,Centro,40.41119,-3.70470,Apartment,Entire home/apt,9,1,3,6,Real Bed,"{Wifi,""Air conditioning"",Kitchen,""Pets allowed...",110,300,50,2,50,2,365,28,58,88,178,106,29,5,5,0,0
21,76617,368907,0,Universidad,Centro,40.42791,-3.70999,Apartment,Entire home/apt,5,1,1,3,Real Bed,"{TV,""Cable TV"",Wifi,""Air conditioning"",Kitchen...",102,300,52,1,11,3,365,11,11,18,88,35,9,2,2,0,0
24,86042,364585,0,Embajadores,Centro,40.40894,-3.69766,Apartment,Entire home/apt,7,1,3,3,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Pets allo...",100,300,50,2,50,2,365,30,60,90,180,148,31,5,5,0,0

## 6 - Agrupación

Con la tabla que estamos manejando, supongamos que queremos saber cuál es el precio medio del AirBnB en cada barrio. Para ver ese dato tenemos que agrupar por barrio toda la tabla para tener un barrio por cada fila y después calcular la media. Esa función de cálculo se le llama función de agregación y puede ser cualquier función, el máximo, el mínimo o la mediana. Para hacer esta operación de agrupación, pandas tiene el método `groupby`. Veamos como usarlo:

In [63]:
df.groupby('neighbourhood_group_cleansed')

Hemos agrupado por barrio y nos devuelve un objeto de pandas. La pregunta es, ¿qué hacemos con el resto de columnas?, ¿qué función le aplicamos a cada una?. Usaremos el método `agg` de la agrupación para aplicar las funciones que queramos a las columnas que nos interesan.

In [64]:
df.groupby('neighbourhood_group_cleansed').agg({'price': 'mean'})

                                   price
neighbourhood_group_cleansed
Arganzuela                     95.916667
Barajas                       116.720430
Carabanchel                    71.454142
Centro                        130.013764
Chamartín                     117.647788
Chamberí                      129.929577
Ciudad Lineal                 108.377152
Fuencarral - El Pardo         136.990066
Hortaleza                     156.375358
Latina                        119.848726
Moncloa - Aravaca             115.852686
Moratalaz                      96.325203
Puente de Vallecas             79.757528
Retiro                        109.367939
Salamanca                     153.422206
San Blas - Canillejas         349.197053
Tetuán                        145.879271
Usera                         186.037135
Vicálvaro                     154.119403
Villa de Vallecas              88.740000
Villaverde                     64.653631

Podemos agrupar por varias columnas a la vez y también aplicar distintas funciones de agregación a distintas columnas.

In [65]:
df.groupby(['neighbourhood_group_cleansed', 'room_type']).agg({'price': 'mean'})

                                                    price
neighbourhood_group_cleansed room_type
Arganzuela                   Entire home/apt   125.049128
                             Hotel room         95.142857
                             Private room       60.789883
                             Shared room        69.083333
Barajas                      Entire home/apt   113.653846
                             Private room      119.816794
                             Shared room        34.666667
Carabanchel                  Entire home/apt    98.969582
                             Hotel room         49.000000
                             Private room       53.974937
                             Shared room        53.000000
Centro                       Entire home/apt   139.827338
                             Hotel room        263.106667
                             Private room       90.004411
                             Shared room        60.904192
Chamartín                    Entire home/apt   128.254795
                             Hotel room         66.000000
                             Private room       97.203209
                             Shared room       143.875000
Chamberí                     Entire home/apt   140.274639
                             Hotel room        695.200000
                             Private room       97.031513
                             Shared room       103.307692
Ciudad Lineal                Entire home/apt   121.944444
                             Hotel room        159.000000
                             Private room       89.401596
                             Shared room       510.000000
Fuencarral - El Pardo        Entire home/apt   170.734375
                             Private room      112.728324
                             Shared room        15.000000
Hortaleza                    Entire home/apt   183.192547
                             Hotel room         65.000000
                             Private room      135.851648
                             Shared room        31.000000
Latina                       Entire home/apt   195.736220
                             Hotel room         22.000000
                             Private room       66.867036
                             Shared room       115.583333
Moncloa - Aravaca            Entire home/apt   148.101538
                             Hotel room        124.000000
                             Private room       73.886179
                             Shared room        72.500000
Moratalaz                    Entire home/apt   134.852941
                             Hotel room        202.500000
                             Private room       79.453488
                             Shared room        25.000000
Puente de Vallecas           Entire home/apt    80.020000
                             Private room       80.322667
                             Shared room        33.500000
Retiro                       Entire home/apt   139.237647
                             Hotel room         55.000000
                             Private room       54.368421
                             Shared room         9.000000
Salamanca                    Entire home/apt   175.926829
                             Hotel room        152.260870
                             Private room      101.878481
                             Shared room        49.000000
San Blas - Canillejas        Entire home/apt   477.267857
                             Private room      286.256757
                             Shared room       703.600000
Tetuán                       Entire home/apt   162.512621
                             Hotel room        764.000000
                             Private room      116.325779
                             Shared room        44.833333
Usera                        Entire home/apt   391.745902
                             Hotel room       1169.000000
                             Private room       85.588477
                             Shared room        34.181818
Vicálvaro                    Entire home/apt   212.466667
                             Private room      136.058824
                             Shared room       200.000000
Villa de Vallecas            Entire home/apt   142.451613
                             Private room       65.454545
                             Shared room        46.000000
Villaverde                   Entire home/apt   100.750000
                             Hotel room        200.000000
                             Private room       55.640000
                             Shared room        29.846154

In [66]:
df.groupby('neighbourhood_group_cleansed').agg({'price': 'mean', 'security_deposit': 'max'})

                                   price  security_deposit
neighbourhood_group_cleansed
Arganzuela                     95.916667              2000
Barajas                       116.720430               750
Carabanchel                    71.454142              1200
Centro                        130.013764              4280
Chamartín                     117.647788              3000
Chamberí                      129.929577              4460
Ciudad Lineal                 108.377152              2500
Fuencarral - El Pardo         136.990066              2000
Hortaleza                     156.375358              2000
Latina                        119.848726              3000
Moncloa - Aravaca             115.852686              3560
Moratalaz                      96.325203               500
Puente de Vallecas             79.757528              2000
Retiro                        109.367939              4000
Salamanca                     153.422206              4000
San Blas - Canillejas         349.197053              4420
Tetuán                        145.879271              1500
Usera                         186.037135              1000
Vicálvaro                     154.119403              1000
Villa de Vallecas              88.740000               550
Villaverde                     64.653631               500

## 7 - Valores nulos

En pandas, los valores nulos, o faltantes, son aquellos que están ausentes o no definidos. Estos valores se representan comúnmente como `NaN` (Not a Number) en los DataFrames y Series de pandas. La gestión de valores nulos es una tarea común y esencial en el análisis de datos, ya que los datos faltantes pueden afectar los resultados de los análisis y modelos. Hay que tener en cuenta que un valor podría tener un significado. Sea como sea es necesario eliminarlos, ya sea borrando o rellenando dichos valores.

In [68]:
lst_lst = [[1,2,3],
          ['3', 4, 5],
          ['3', 4]]


columns =['a', 'b', 'c']


df_lst = pd.DataFrame(data=lst_lst, columns=columns)

df_lst

   a  b    c
0  1  2  3.0
1  3  4  5.0
2  3  4  NaN

In [71]:
df_lst.fillna(0, inplace=True)

df_lst

   a  b    c
0  1  2  3.0
1  3  4  5.0
2  3  4  0.0

## 8 - Operaciones

La librería pandas está basada en NumPy. Todas las operaciones que podiamos realizar con Numpy podemos hacerlas con pandas.

In [73]:
df['price'].mean()

130.7930274024024

In [74]:
df['price'].std()

362.1131550080642

## 9 - Aplicación de funciones

Podemos aplicar funciones propias al dataframe con el método `apply`. Este método es un manera de evitar bucles for en un dataframe, la función se aplica sobre la columna que deseemos de manera más eficiente. Su funcionamiento es igual que la función `map`.

In [75]:
def cuadrado(x):
    
    return x**2



df['price'].apply(cuadrado).head()

0     4900
1      289
2     2500
3     6400
4    13225
Name: price, dtype: int64

In [76]:
df['price'].apply(lambda x: x**2).head()

0     4900
1      289
2     2500
3     6400
4    13225
Name: price, dtype: int64

## 10 - Métodos útiles en pandas

```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```